{% extends "layout.html" %}

{% block content %}

    <table boder="1" class="table"> 
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Nationality</th>
            <th>Genere</th>
        </tr>
        {% for author in object_list %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.first_name }}</td>
                <td>{{ author.last_name }}</code></td>
                <td>{{ author.nationality }}</td>
                <td>{{ author.genere }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %} %}
           